
<div class="row d-flex justify-content-around align-self-center align-items-center">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Contactanos</h5>
        <p class="card-text">Calle Falsa 123, Tandil, Buenos Aires</p>
      <p class="card-text">Teléfono +54 9 0303456</p>
      <p class="card-text">gimmefood@consultas.com</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Cómo comprar?</h5>
        <p class="card-text">Agrega items a tu carrito, completa tus datos personales y de ubicación y listo!</p>
        <a  class="btn btn-primary text-right" [routerLink]="['/ingredients']">Realizar compra</a>
      </div>
    </div>
  </div>
</div>

<div class="row d-flex justify-content-around align-self-center align-items-center">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Atribuciones</h5>
        <p class="card-text">Iconos diseñados por <a href="https://www.flaticon.es/autores/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon"> www.flaticon.es</a></p>
      <p class="card-text">Iconos diseñados por <a href="https://www.flaticon.es/icono-gratis/cocinero_526190" title="Those Icons">Those Icons</a> from <a href="https://www.flaticon.es/" title="Flaticon"> www.flaticon.es</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem at minima error quia tempore dolorem rem dolore tenetur a, perspiciatis quis sunt atque nisi nostrum! Quam distinctio odit tempora nam!</p>

      </div>
    </div>
  </div>
</div>



