<h1>Lista de alimentos</h1>
<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Categoria</th>
            <th>Calorias x100g</th>
            <th>Nivel sodio</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ingredient of ingredients">
            <td><img [src]="ingredient.image" [alt]="ingredient.name"></td>
            <td>{{ingredient.name}}</td>
            <td>{{ingredient.category}}</td>
            <td>{{ingredient.calorie}} cal</td>
            <td>
                <span *ngIf="ingredient.sodium<40" class="badge badge-success">Bajo en sodio</span>
                <span *ngIf="ingredient.sodium>40 && ingredient.sodium<150" class="badge badge-warning">Sodio moderado</span>
                <span *ngIf="ingredient.sodium>150" class="badge badge-danger">Alto en sodio</span>
            </td>
           




        </tr>    
    </tbody>
</table>
